* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    color: rgb(231, 231, 241);
    text-align: center;
    margin-top: -3%;
    background-color: #323232;
    font-size: 20px;
    width: 80%;
    left: 90px;
    position: absolute; 
}
img {
    width: 50%;
    margin-bottom: 3%;
}

.h1{
    position: relative;
}

.realL {
    margin-top: 25px;
   
}
.button {
    background-color: #daf10b; /* Green */
    color: rgb(8, 8, 8);
    width: 10%;
    border-radius: 15%;
    border-color: white;
}
.button1 {
    background-color: #daf10b; /* Green */
    color: rgb(8, 8, 8);
    width: 10%;
    border-radius: 15%;
    border-color: white;
}